venv/
.vscode/
__pycache__/
*.pyc
.DS_Store

Papier/TER.aux
Papier/TER.log
Papier/TER.out
Papier/TER.synctex.gz
Papier/TER.fdb_latexmk
Papier/TER.fls
Papier/TER.pdf
Papier/TER.toc

Papier/Presentation_TER.fls
Papier/Presentation_TER.log
Papier/Presentation_TER.nav
Papier/Presentation_TER.out
Papier/Presentation_TER.snm
Papier/Presentation_TER.fdb_latexmk
Papier/Presentation_TER.synctex.gz
Papier/Presentation_TER.toc
